

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	font-family: 'Dosis', sans-serif;
}
.header {
	background-color:  #f2f3f3;
}
nav {
	width: 100%;
}
ul {
	width: inherit;
}
ul li{
	display: inline-block;
	float: center;
	margin-left: 5%;
	padding-top: 1.2%;

}
ul li a {
	text-decoration: none;
	color: #fff;
}
li a:hover,
li a:focus {
	text-decoration: none;
	color: #f127d9;
	
}

h1#name {
font-family: 'Dosis';
color: #2f4152; 
font-weight: 800;
text-align: left;
padding-left: 9%;

}
h4#title {

color:  #2f4152;

font-weight: 400;
letter-spacing: 0.8px;
text-align: left;
transform: scaleY(1.0004);
padding-left: 9%;
}
div.header {
	padding: 3% 0 2% 0;
	border-radius: 1%;
}

i {
	color: blue;
	text-align: center;
	margin-top: 5%;
}

div.about {
	width: 35%;
	float: left;
}
div.detail {
	width: 60%;
	float: left;

}
.contact{
	margin-top: 5%;
	width: 10%;
	float: left;
	font-weight: bolder;
	text-decoration: none;
}
.info {
	margin-top: 5%;
	width: 90%;
	float: left;
}

.social,
#skills {
	width: 100%;
	float: left;
	
}
.contact li i, .contact li,
.info li {
	list-style: none;
	color: #2f4152;
}
#about h2,
#skills h2{
	padding: 3% 2% 3% 2%;
	background: #2F4051;
	font-size: 1.5em;
	color: #fff;
	-ms-transform: skew(-20deg); /* IE 9 */
    -webkit-transform: skew(-20deg); /* Chrome, Safari, Opera */
    transform: skew(-20deg)

}
#detail p{
	
	font-size: 0.9em;
	line-height: 1.3em;
	letter-spacing: 3px;
	margin-left: 5%;
	color: #010000;


	

}
#detail {
	margin: 7% 0 5% 0;
}
span i {
	color: #f127d9;
}
span.skill {
	font-weight: 900;
	color: #2f4152;
}
li#lan {
	display: inline-block;
	float: left;
	
	padding-top: 2%;

}
#lan i {
	color: #2f4152;


}
.language {
	width: 50%;
	float: left;
	
}
#lan h3 {
	width: 20%;
	padding-left: 12%;
	font-size: 2em;
	
}
.language h4 {
	float: center;
	font-size: 1.2em;
	padding-left: 10%;
	
}
div.work {
	background: #2F4051;
	margin: 3% 0 0 0;

}


.row,
#edu {
	color: white;
	padding: 2% 0 2% 0;
}

.row {
	margin: 0 2%;
}


@media (max-width: 1024px) {
	.navbar-header {
		padding-bottom: 0;
		padding-top: 0.2%;
	
	}
}
@media (max-width: 768px){
	#detail {
	margin: 9% 0 3% 0;
	font-size: 1em;
}
	.navbar-header {
		padding-bottom: 0;
		padding-top: 0.8%;
	
	}
}
@media (max-width: 640px){
	#detail {
	margin: 14% 0 2% 0;
	font-size: 0.90em;
	padding-left: 0;
}
	#lan {
	width: 100%;
	padding-left: 20%;
	}
	.navbar-header {
		padding-bottom: 0;
		padding-top: 1.2%;
	
	}
}
@media (max-width: 480px){
	body {
		font-size: 10px;
	}
	#detail {
	margin: 12% 0 5% 0;
	padding-left: 0;
}
#lan {
	width: 100%;
	padding-left: 30%;
}
	.navbar-header {
		padding-bottom: 0;
		padding-top: 2.5%;
	
	}
}
